.card {
  width: 270px;
  margin-bottom: 30px;
  background-color: #fff;
  transition: transform .2s ease;

  &:hover {
    transition: transform .2s ease;
    transform: translateY(-10px);
  }
}

.card__link {
  text-decoration: none;

  &:active,
  &:visited {
    color: #000;
  }
}

.card__upper {
  position: relative;
  background-size: cover;
  transition: opacity 0.2s ease;
}

.card__img {
  width: 270px;
  height: 200px;
  object-fit: cover;
}

.card__badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px;
  background-color: $accent-color;
  border-radius: 10px;
}

.card__lower {
  padding: 15px 15px 20px;
}

.card__lower > *:not(:last-child) {
  margin-bottom: 10px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  color: #000;

  &:active {
    color: #000;
  }
}

.card__text {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.card__metro {
  font-size: 14px;
  font-weight: 400;
  color: #000;

  &::before {
    display: inline-block;
    width: 16px;
    height: 11px;
    margin-right: 7px;
    content: '';
    background: url('../../images/metro-logo.svg') no-repeat;
  }
}

.card__address {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #777;
}
