.header {
  height: 70px;
  background-color: #fff;

  @media screen and (max-width: 1250px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
  }

  .header__logo-link {
    display: flex;
    height: 70px;
    align-items: center;
  }

  .header__letter {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    // transform: skew(-30deg);
    transform: rotate(10deg);
  }

  .header__letter-1 {
    color: #000;
    margin-top: -24px;
  }

  .header__letter-2 {
    color: $accent-color;
    margin-left: -8px;
    z-index: 10;
  }

  .header__letter-3 {
    color: #f00;
    margin-left: -10px;
    margin-bottom: -20px;
  }

  .header__letter-4 {
    color: #4290c9;
    margin-left: -5px;
  }

  .header__btn {
    display: none;
    // border: 1px solid #000;

    @include screen-sm {
      display: flex;
      align-self: center;
      width: 30px;
      height: 25px;

      border: none;
      background-color: transparent;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
    }
  }

  .header_btn-line {
    display: flex;
    height: 3px;
    background-color: #000;
  }

  .header_btn-line:first-child {
    width: 100%;
  }

  .header_btn-line:last-child {
    width: 80%;
    align-self: start;
  }
}

.cards__container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;

  @include screen-xl {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include screen-lg {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main {
  max-width: 870px;
  padding-bottom: 40px;
  margin-right: 30px;

  @include screen-xl {
    margin-right: 20px;

    max-width: 800px;
  }

  @include screen-lg {
    max-width: 530px;

    margin-right: 10px;
  }

  @include screen-sm {
    max-width: auto;
    margin-right: 0;
  }
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include screen-xl {
    justify-content: space-evenly;
  }

  @include screen-lg {
    align-items: center;
  }
}

.btn--show-more {
  width: 100%;
  min-height: 80px;
  padding: 25px 50px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 4px;
  color: #4290c9;
  font-size: 18px;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../../images/plus-circle.svg) no-repeat;
    background-size: cover;
    margin-right: 7px;
  }
}

.sidebar {
  min-width: 270px;
  z-index: 10;

  // position: -webkit-sticky;
  // position: sticky;
  // top: 0;
  position: relative;

  transition: transform 0.2s ease;

  @include screen-sm {
    border-left: 1px solid #d3d3d3;
    padding: 10px;
    padding-top: 70px;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;

    & {
      transform: translateX(150%);
    }
  }

  .sidebar__btn--close {
    display: none;

    position: absolute;
    right: 40px;
    top: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
    background: url('../images/x.svg') no-repeat center center;
    cursor: pointer;

    @include screen-sm {
      display: block;
    }
  }
}

.sidebar--active {
  transform: translateX(0);
  transition: transform 0.2s ease;
}

.widget-rating,
.widget-term,
.widget-options {
  margin-bottom: 30px;
}

.widget-rating {
  .widget-rating__group-uppper {
    display: flex;
    // justify-content: space-between;
    border: 1px solid $additional-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
  }

  .widget-rating__btn {
    padding: 12px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    // text-align: center;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: lighten($accent-color, 20%);
    }
  }

  .widget-rating__star {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: baseline;
    margin-left: 4px;
  }
  


  .widget-rating__btn:not(.widget-rating__btn--any) {
    width: 25%;
  }

  .widget-rating__btn--any {
    text-align: center;
  }

  .widget-rating__checkbox:checked + .widget-rating__btn {
    background-color: $accent-color;
  }

  .widget__checkbox-lower {
    border: 1px solid $additional-color;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
  }
}

.widget-term {
  .widget-term__radio-btn--styled {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 50%;
    margin-right: 10px;
  }

  .widget-term__radio-btn--raw:checked ~ .widget-term__text {
    font-weight: 500;
  }

  .widget-term__radio-btn--raw:checked + .widget-term__radio-btn--styled {
    background-color: $accent-color;
  }

  .widget-term__radio-btn--raw:checked
    + .widget-term__radio-btn--styled::before {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    content: '';
    background-color: #3c3c3c;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

.widget-options {
  .widget-options__checkbox--styled {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #777;
    border-radius: 2px;
    margin-right: 10px;
  }

  .widget-options__checkbox--raw:checked ~ .widget-options__text {
    font-weight: 500;
  }

  .widget-options__checkbox--raw:checked + .widget-options__checkbox--styled {
    background-color: $accent-color;
    content: url(../images/check.svg);
  }

  .widget-options__checkbox--raw:checked
    + .widget-options__checkbox--styled::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .widget-options__btn {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    color: #4290c9;
    cursor: pointer;
    padding: 0;
  }
}

.widget-toggle {
  margin-bottom: 30px;

  .widget-toggle__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .widget-toggle__checkbox--styled {
    width: 40px;
    height: 20px;
    background-color: $additional-color;
    border-radius: 10px;
    position: relative;
    margin-right: 10px;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      background-color: #3c3c3c;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 2px;
      transition: all 0.2s ease;
    }
  }

  .widget-toggle__checkbox--raw:checked + .widget-toggle__checkbox--styled {
    background-color: $accent-color;
  }

  .widget-toggle__checkbox--raw:checked
    + .widget-toggle__checkbox--styled::before {
    transform: translateX(20px);
    transition: all 0.2s ease;
  }
}

.btn--apply {
  background-color: $accent-color;
  margin-bottom: 10px;
  color: #000;

  &:active {
    background-color: transparent;
    outline: 1px solid $accent-color;
  }
}

.btn--reset {
  border: 1px solid $additional-color;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    background-color: $additional-color;
  }

  &::before {
    content: url('../images/x.svg');
    margin-bottom: -2px;
    margin-right: 7px;
  }
}

.footer {
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
